# Logistic Regression Consulting Project

## Binary Customer Churn

A marketing agency has many customers that use their service to produce ads for the client/customer websites. They've noticed that they have quite a bit of churn in clients. They basically randomly assign account managers right now, but want you to create a machine learning model that will help predict which customers will churn (stop buying their service) so that they can correctly assign the customers most at risk to churn an account manager. Luckily they have some historical data, can you help them out? Create a classification algorithm that will help classify whether or not a customer churned. Then the company can test this against incoming data for future customers to predict which customers will churn and assign them an account manager.

The data is saved as customer_churn.csv. Here are the fields and their definitions:

    Name : Name of the latest contact at Company
    Age: Customer Age
    Total_Purchase: Total Ads Purchased
    Account_Manager: Binary 0=No manager, 1= Account manager assigned
    Years: Totaly Years as a customer
    Num_sites: Number of websites that use the service.
    Onboard_date: Date that the name of the latest contact was onboarded
    Location: Client HQ Address
    Company: Name of Client Company
    
Once you've created the model and evaluated it, test out the model on some new data (you can think of this almost like a hold-out set) that your client has provided, saved under new_customers.csv. The client wants to know which customers are most likely to churn given this data (they don't have the label yet).

#### Análisis exploratorio de variables

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Churn').getOrCreate()

In [6]:
df = spark.read.csv('/FileStore/tables/customer_churn.csv',header=True,inferSchema=True)

In [7]:
df.limit(20).toPandas()

,Names,Age,Total_Purchase,Account_Manager,Years,Num_Sites,Onboard_date,Location,Company,Churn
0,Brenda Hall,37.0,11628.10,1,6.83,10.0,2010-02-20 16:08:12,"1877 Tara Streets West Sarah, MN 39500",Rosales Inc,1
1,Richard Farmer,44.0,8588.46,1,7.77,8.0,2012-05-07 09:58:33,"115 Courtney Springs Suite 396 Jenniferland, I...","Schroeder, Hines and Thompson",0
2,Teresa Garcia,46.0,11343.33,1,3.69,8.0,2012-09-20 05:52:41,"2374 Jackson Walks Larryberg, PW 89438-7588",Ibarra and Sons,0
3,Kevin Hicks DDS,49.0,9957.26,0,4.76,7.0,2009-09-01 11:37:22,"096 Dunn Street Jasonshire, NC 06461-2275","Cooper, Mcguire and Nguyen",0
4,Benjamin Huff,45.0,8871.53,0,3.76,8.0,2007-03-06 12:55:46,"205 Hall Mission Apt. 211 South Matthew, HI 81...","Hurley, Moody and Gomez",0
5,Timothy Brown,45.0,11187.93,1,4.95,9.0,2015-09-27 20:20:08,"7800 Riley Square Apt. 303 Jacquelineberg, HI ...","Roberts, Delgado and Burch",0
6,Michelle Holloway,49.0,12458.80,0,5.04,9.0,2013-01-21 13:44:09,"6431 Kimberly Harbors South Dylan, MS 05388-2846","Martinez, Clark and Jackson",1
7,Douglas Padilla,38.0,10863.05,1,5.59,11.0,2008-04-28 01:11:37,"063 Andrew Harbor New Kathleenbury, AR 48898",Martinez Ltd,1
8,Katie Khan,40.0,10762.29,0,5.02,7.0,2015-02-08 22:43:00,"05418 Smith Brooks Richardfurt, DE 40166-1384","Gutierrez, Jones and Winters",0
9,Donald Flores,46.0,11580.56,1,3.43,9.0,2014-05-09 04:48:30,"30890 Gloria Oval Friedmanshire, OK 78837-9606",Harris-Pratt,0
10,Jason Hebert,40.0,10606.97,1,4.11,10.0,2013-03-19 10:44:41,"26996 Nicole Ridge Suite 342 Lake Robertside, ...",Hawkins-Escobar,0
11,Cindy Marshall,37.0,9229.96,0,3.65,8.0,2015-12-30 19:11:01,"393 Stephens Field South Michelleside, MI 26930",Gomez-Clarke,0
12,Jacob Escobar,50.0,14398.89,1,5.54,12.0,2007-11-13 17:10:55,"4182 Mercer Plains Apt. 624 New Lindsey, WA 84468",White-Dennis,1
13,Tara Burton,49.0,11177.08,0,4.44,12.0,2008-01-07 05:11:46,"713 William Loaf New Christopher, DC 71560-8742",Reed-Fields,1
14,Darin Alexander,43.0,15858.91,1,4.51,8.0,2008-08-11 02:19:38,"82216 Garrison Coves Apt. 482 Heathertown, MS ...",Anderson Group,0
15,Michelle Roberts,43.0,12531.39,0,3.97,6.0,2013-04-28 05:02:18,"5351 Ford Pike Apt. 399 Ericshire, IA 72849-0011",Marshall-Ho,0
16,Samantha Flores,39.0,11670.73,0,6.45,8.0,2006-06-24 00:46:18,"793 Powell Fort Amandaview, GA 95747-4560",Williams PLC,0
17,Amanda Barnett,45.0,9773.22,1,3.79,10.0,2009-06-04 09:14:47,"205 Campbell Highway Port Wyatt, AK 84887-4000",Lee Ltd,0
18,Justin Leonard,51.0,6517.93,1,5.47,10.0,2012-05-30 00:15:43,"49800 Torres Ways Suite 886 West Bradleybury, ...",Robles-Abbott,0
19,Harold Griffin,41.0,6569.87,1,4.30,11.0,2015-03-28 02:13:44,"1774 Peter Row Apt. 712 New Autumn, MT 18782","Snyder, Lee and Morris",1

In [8]:
print(df.count(), len(df.columns))

In [9]:
df.describe().toPandas().head()

,summary,Names,Age,Total_Purchase,Account_Manager,Years,Num_Sites,Location,Company,Churn,Onboard_diff_years
0,count,900,900,900,900,900,900,900,900,900,900
1,mean,None,41.81666666666667,10062.824033333334,0.4811111111111111,5.2731555555555545,8.587777777777777,None,None,0.16666666666666666,9.245256673511296
2,stddev,None,6.127560416916251,2408.644531858093,0.49992089350733393,1.2744490131946142,1.7648355920350922,None,None,0.37288521227723537,3.208437030499514
3,min,Aaron King,22.0,100.0,0,1.0,3.0,"00103 Jeffrey Crest Apt. 205 Padillaville, IA ...",Abbott-Thompson,0,3.5290896646132786
4,max,Zachary Walsh,65.0,18026.01,1,9.15,14.0,Unit 9800 Box 2878 DPO AA 75157,"Zuniga, Clark and Shaffer",1,14.516084873374401

In [10]:
#Vemos que no hay missing values, eliminaremos duplicados
df = df.dropDuplicates()

In [11]:
print(df.count(), len(df.columns))

In [12]:
#El Account_Manager fue asignado aleatoriamente, por lo tanto esta variable no será considerada dentro del modelo ya que no debiera aportar información relevante.

#La columna 'Onboard_date' es la fecha en que se incluyó el nombre del último contacto, obtendremos la diferencia en años entre esa fecha y el día de hoy
from pyspark.sql.functions import months_between, col, current_timestamp, datediff

In [13]:
#Agrego columna con fecha actual
df = df.withColumn('today_date',  current_timestamp())

In [14]:
#Añado columna con antiguedad del cliente en meses
df = df.withColumn('Onboard_diff_years', datediff(col('today_date'),col('Onboard_date'))/365.25)

In [15]:
df.limit(10).toPandas()

,Names,Age,Total_Purchase,Account_Manager,Years,Num_Sites,Onboard_date,Location,Company,Churn,today_date,Onboard_diff_years
0,Brenda Hall,37.0,11628.10,1,6.83,10.0,2010-02-20 16:08:12,"1877 Tara Streets West Sarah, MN 39500",Rosales Inc,1,2020-07-09 21:30:10.730,10.381930
1,Richard Farmer,44.0,8588.46,1,7.77,8.0,2012-05-07 09:58:33,"115 Courtney Springs Suite 396 Jenniferland, I...","Schroeder, Hines and Thompson",0,2020-07-09 21:30:10.730,8.172485
2,Teresa Garcia,46.0,11343.33,1,3.69,8.0,2012-09-20 05:52:41,"2374 Jackson Walks Larryberg, PW 89438-7588",Ibarra and Sons,0,2020-07-09 21:30:10.730,7.800137
3,Kevin Hicks DDS,49.0,9957.26,0,4.76,7.0,2009-09-01 11:37:22,"096 Dunn Street Jasonshire, NC 06461-2275","Cooper, Mcguire and Nguyen",0,2020-07-09 21:30:10.730,10.852841
4,Benjamin Huff,45.0,8871.53,0,3.76,8.0,2007-03-06 12:55:46,"205 Hall Mission Apt. 211 South Matthew, HI 81...","Hurley, Moody and Gomez",0,2020-07-09 21:30:10.730,13.344285
5,Timothy Brown,45.0,11187.93,1,4.95,9.0,2015-09-27 20:20:08,"7800 Riley Square Apt. 303 Jacquelineberg, HI ...","Roberts, Delgado and Burch",0,2020-07-09 21:30:10.730,4.783025
6,Michelle Holloway,49.0,12458.80,0,5.04,9.0,2013-01-21 13:44:09,"6431 Kimberly Harbors South Dylan, MS 05388-2846","Martinez, Clark and Jackson",1,2020-07-09 21:30:10.730,7.463381
7,Douglas Padilla,38.0,10863.05,1,5.59,11.0,2008-04-28 01:11:37,"063 Andrew Harbor New Kathleenbury, AR 48898",Martinez Ltd,1,2020-07-09 21:30:10.730,12.197125
8,Katie Khan,40.0,10762.29,0,5.02,7.0,2015-02-08 22:43:00,"05418 Smith Brooks Richardfurt, DE 40166-1384","Gutierrez, Jones and Winters",0,2020-07-09 21:30:10.730,5.415469
9,Donald Flores,46.0,11580.56,1,3.43,9.0,2014-05-09 04:48:30,"30890 Gloria Oval Friedmanshire, OK 78837-9606",Harris-Pratt,0,2020-07-09 21:30:10.730,6.168378

In [16]:
from pyspark.sql.functions import countDistinct

#Contando las distintas compañías a ver si se repiten
df.agg(countDistinct(col("Company")).alias("count")).show()

In [17]:
df.columns

In [18]:
#Guardaremos los nombres de las columna de interés
cols_model = ['Age',
 'Total_Purchase',
 'Years',
 'Num_Sites',
 'Onboard_diff_years']

In [19]:
#Visualizaremos la distribución las features de interés
from matplotlib import cm
import matplotlib.pyplot as plt

In [20]:
fig = plt.figure(figsize=(25,15)) ##Tamaño del plot
st = fig.suptitle("Distribución de features", fontsize=25,
		   verticalalignment='center') #Título principal

for col,num in zip(cols_model,range(1,6)):
  ax = fig.add_subplot(2,3,num)
  ax.hist(df.toPandas()[col])
  #plt.style.use('dark_background')
  plt.grid(False)
  plt.xticks(rotation=45,fontsize=15)
  plt.yticks(fontsize=15)
  plt.title(col,fontsize=20)
  plt.tight_layout()
#st.set_y(0.95)
fig.subplots_adjust(top=0.85,hspace=0.2)
plt.show()

Se observa que la mayoría de las variables concentra su información en torno a un dato central, excepto onboard_diff_years, que se reparte de manera aproximadamente uniforme en varios valores.

In [22]:
#Correlación de pearson para las variables numéricas
#Veremos si hay variables que están correlacionadas entre sí
from pyspark.mllib.stat import Statistics
import pandas as pd

In [23]:
cols_model_df = df.select(cols_model)

In [24]:
features = cols_model_df.rdd.map(lambda row: row[0:]) #Convierto a rdd para poder aplicar map y después aplicar la correlación

corr_matrix = Statistics.corr(features, method="pearson")

corr_df = pd.DataFrame(corr_matrix)

corr_df.index, corr_df.columns =cols_model, cols_model   #Asigno los nombres de las variables a los índices de la matriz de correlación

In [25]:
corr_df

,Age,Total_Purchase,Years,Num_Sites,Onboard_diff_years
Age,1.000000,-0.037208,0.005625,-0.006070,-0.002604
Total_Purchase,-0.037208,1.000000,-0.005623,-0.003390,0.020519
Years,0.005625,-0.005623,1.000000,0.051642,0.044917
Num_Sites,-0.006070,-0.003390,0.051642,1.000000,0.031829
Onboard_diff_years,-0.002604,0.020519,0.044917,0.031829,1.000000

Vemos que no hay ninguna correlación significativa entre las variables, luego, las mantendremos todas para el modelo

#### Construcción del modelo

In [28]:
#Setearemos los datos al formato requerido por la librería de ml de pyspark

from pyspark.ml.feature import VectorAssembler

In [29]:
#Creamos el objeto assembler
assembler = VectorAssembler(inputCols=cols_model, outputCol='features')

In [30]:
#Transformamos los datos
output = assembler.transform(df)

In [31]:
final_data = output.select('features','Churn')

In [32]:
final_data.toPandas().head()

,features,Churn
0,"[37.0, 11628.1, 6.83, 10.0, 10.381930184804927]",1
1,"[44.0, 8588.46, 7.77, 8.0, 8.172484599589323]",0
2,"[46.0, 11343.33, 3.69, 8.0, 7.800136892539356]",0
3,"[49.0, 9957.26, 4.76, 7.0, 10.85284052019165]",0
4,"[45.0, 8871.53, 3.76, 8.0, 13.344284736481862]",0

In [33]:
#Dividimos entre train y test set
train_data, test_data = final_data.randomSplit([0.7,0.3])

In [34]:
from pyspark.ml.classification import LogisticRegression

In [35]:
#Creamos objeto LogisticRegression
log_reg = LogisticRegression(labelCol='Churn')

In [36]:
#Ajustamos al train_data

log_reg_model = log_reg.fit(train_data)

In [37]:
#Voy a llamar evaluate sobre el test set para luego obtener las predicciones sobre ese dataset
prediction_and_labels = log_reg_model.evaluate(test_data)

In [38]:
prediction_and_labels.predictions.toPandas().head()

,features,Churn,rawPrediction,probability,prediction
0,"[44.0, 8588.46, 7.77, 8.0, 8.172484599589323]",0,"[2.3796354605735637, -2.3796354605735637]","[0.9152611655401074, 0.08473883445989262]",0.0
1,"[40.0, 10762.29, 5.02, 7.0, 5.415468856947296]",0,"[5.2061259040171315, -5.2061259040171315]","[0.9945470242031863, 0.00545297579681374]",0.0
2,"[39.0, 11670.73, 6.45, 8.0, 14.042436687200547]",0,"[2.6875298733856, -2.6875298733856]","[0.9362867878333889, 0.06371321216661105]",0.0
3,"[41.0, 6569.87, 4.3, 11.0, 5.284052019164956]",1,"[1.271568444239275, -1.271568444239275]","[0.7810111214736825, 0.21898887852631752]",0.0
4,"[42.0, 11783.81, 5.27, 7.0, 9.782340862422998]",0,"[4.536644302386993, -4.536644302386993]","[0.9894041900908582, 0.010595809909141824]",0.0

In [39]:
#Comparación entre Churn y la predicción
prediction_and_labels.predictions.select('Churn','prediction').toPandas().head()

,Churn,prediction
0,0,0.0
1,0,0.0
2,0,0.0
3,1,0.0
4,0,0.0

In [40]:
#Imprimo esto solo para saber qué contiene:
prediction_and_labels.labels

In [41]:
#Crearemos un objeto evaluador para sacar métricas
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [42]:
#Creamos un objeto evaluador
my_eval = BinaryClassificationEvaluator(labelCol ='Churn', rawPredictionCol='prediction')

In [43]:
predictions = prediction_and_labels.predictions

In [44]:
predictions.describe().toPandas().head()

,summary,Churn,prediction
0,count,255,255
1,mean,0.16862745098039217,0.09803921568627451
2,stddev,0.3751588619297455,0.2979524588712332
3,min,0,0.0
4,max,1,1.0

In [45]:
#Evalúo sobre el dataframe de predicciones: prediction_and_labels.predictions = predictions
auc = my_eval.evaluate(predictions)

In [46]:
auc

Obtuvimos un AUC de 0.73, es decir, el área bajo la curva ROC es 0.73. El resultado del modelo es decente, aunque podría ser mejor.

#### Probando el modelo en nuevos datos

Ahora vamos a probar el modelo en los datos "new_customers.csv"

In [50]:
#Primero entrenaremos el modelo sobre todos los datos (sin división en train y test)
final_lr_model = log_reg.fit(final_data)

In [51]:
new_data = spark.read.csv('/FileStore/tables/new_customers.csv', header=True, inferSchema=True)

In [52]:
new_data.printSchema()

In [53]:
new_data.toPandas().head()

,Names,Age,Total_Purchase,Account_Manager,Years,Num_Sites,Onboard_date,Location,Company
0,Andrew Mccall,37.0,9935.53,1,7.71,8.0,2011-08-29 18:37:54,"38612 Johnny Stravenue Nataliebury, WI 15717-8316",King Ltd
1,Michele Wright,23.0,7526.94,1,9.28,15.0,2013-07-22 18:19:54,"21083 Nicole Junction Suite 332, Youngport, ME...",Cannon-Benson
2,Jeremy Chang,65.0,100.00,1,1.00,15.0,2006-12-11 07:48:13,"085 Austin Views Lake Julialand, WY 63726-4298",Barron-Robertson
3,Megan Ferguson,32.0,6487.50,0,9.40,14.0,2016-10-28 05:32:13,"922 Wright Branch North Cynthialand, NC 64721",Sexton-Golden
4,Taylor Young,32.0,13147.71,1,10.00,8.0,2012-03-20 00:36:46,Unit 0789 Box 0734 DPO AP 39702,Wood LLC

In [54]:
#Añadimos las columnas que creamos cuando entrenamos el modelo
new_data = new_data.withColumn('today_date',current_timestamp())
new_data = new_data.withColumn('Onboard_diff_years', datediff(col('today_date'),col('Onboard_date'))/365.25)

In [55]:
new_data.limit(5).toPandas()

,Names,Age,Total_Purchase,Account_Manager,Years,Num_Sites,Onboard_date,Location,Company,today_date,Onboard_diff_years
0,Andrew Mccall,37.0,9935.53,1,7.71,8.0,2011-08-29 18:37:54,"38612 Johnny Stravenue Nataliebury, WI 15717-8316",King Ltd,2020-07-09 23:08:25.993,8.862423
1,Michele Wright,23.0,7526.94,1,9.28,15.0,2013-07-22 18:19:54,"21083 Nicole Junction Suite 332, Youngport, ME...",Cannon-Benson,2020-07-09 23:08:25.993,6.965092
2,Jeremy Chang,65.0,100.00,1,1.00,15.0,2006-12-11 07:48:13,"085 Austin Views Lake Julialand, WY 63726-4298",Barron-Robertson,2020-07-09 23:08:25.993,13.577002
3,Megan Ferguson,32.0,6487.50,0,9.40,14.0,2016-10-28 05:32:13,"922 Wright Branch North Cynthialand, NC 64721",Sexton-Golden,2020-07-09 23:08:25.993,3.696099
4,Taylor Young,32.0,13147.71,1,10.00,8.0,2012-03-20 00:36:46,Unit 0789 Box 0734 DPO AP 39702,Wood LLC,2020-07-09 23:08:25.993,8.303901

In [56]:
output_new = assembler.transform(new_data)

In [57]:
#Aplico el modelo sobre este unlabeled dataset
predictions_new = final_lr_model.transform(output_new)

In [58]:
#Prediccione para estos clientes
predictions_new.toPandas().head()

,Names,Age,Total_Purchase,Account_Manager,Years,Num_Sites,Onboard_date,Location,Company,today_date,Onboard_diff_years,features,rawPrediction,probability,prediction
0,Andrew Mccall,37.0,9935.53,1,7.71,8.0,2011-08-29 18:37:54,"38612 Johnny Stravenue Nataliebury, WI 15717-8316",King Ltd,2020-07-09 23:51:50.542,8.862423,"[37.0, 9935.53, 7.71, 8.0, 8.862422997946611]","[2.4219617387583696, -2.4219617387583696]","[0.9184867382920912, 0.08151326170790889]",0.0
1,Michele Wright,23.0,7526.94,1,9.28,15.0,2013-07-22 18:19:54,"21083 Nicole Junction Suite 332, Youngport, ME...",Cannon-Benson,2020-07-09 23:51:50.542,6.965092,"[23.0, 7526.94, 9.28, 15.0, 6.965092402464066]","[-5.9776917376069605, 5.9776917376069605]","[0.0025282619187167385, 0.9974717380812833]",1.0
2,Jeremy Chang,65.0,100.00,1,1.00,15.0,2006-12-11 07:48:13,"085 Austin Views Lake Julialand, WY 63726-4298",Barron-Robertson,2020-07-09 23:51:50.542,13.577002,"[65.0, 100.0, 1.0, 15.0, 13.57700205338809]","[-3.4594516813440066, 3.4594516813440066]","[0.030488236681705305, 0.9695117633182946]",1.0
3,Megan Ferguson,32.0,6487.50,0,9.40,14.0,2016-10-28 05:32:13,"922 Wright Branch North Cynthialand, NC 64721",Sexton-Golden,2020-07-09 23:51:50.542,3.696099,"[32.0, 6487.5, 9.4, 14.0, 3.696098562628337]","[-5.3149441949476, 5.3149441949476]","[0.004893489178769389, 0.9951065108212305]",1.0
4,Taylor Young,32.0,13147.71,1,10.00,8.0,2012-03-20 00:36:46,Unit 0789 Box 0734 DPO AP 39702,Wood LLC,2020-07-09 23:51:50.542,8.303901,"[32.0, 13147.71, 10.0, 8.0, 8.303901437371664]","[1.2944580217275465, -1.2944580217275465]","[0.7849007997338496, 0.21509920026615031]",0.0

In [59]:
predictions_new.select('Company','prediction').toPandas().head(6)

,Company,prediction
0,King Ltd,0.0
1,Cannon-Benson,1.0
2,Barron-Robertson,1.0
3,Sexton-Golden,1.0
4,Wood LLC,0.0
5,Parks-Robbins,1.0

De acuerdo a este resultado le debieramos asignar account manager a los empleados de Cannon-benson, Barron-Robertson, Sexton-Golden y Park-Robbins (entre otros).