# Logistic Regression Consulting Project

## Binary Customer Churn

A marketing agency has many customers that use their service to produce ads for the client/customer websites. They've noticed that they have quite a bit of churn in clients. They basically randomly assign account managers right now, but want you to create a machine learning model that will help predict which customers will churn (stop buying their service) so that they can correctly assign the customers most at risk to churn an account manager. Luckily they have some historical data, can you help them out? Create a classification algorithm that will help classify whether or not a customer churned. Then the company can test this against incoming data for future customers to predict which customers will churn and assign them an account manager.

The data is saved as customer_churn.csv. Here are the fields and their definitions:

    Name : Name of the latest contact at Company
    Age: Customer Age
    Total_Purchase: Total Ads Purchased
    Account_Manager: Binary 0=No manager, 1= Account manager assigned
    Years: Totaly Years as a customer
    Num_sites: Number of websites that use the service.
    Onboard_date: Date that the name of the latest contact was onboarded
    Location: Client HQ Address
    Company: Name of Client Company
    
Once you've created the model and evaluated it, test out the model on some new data (you can think of this almost like a hold-out set) that your client has provided, saved under new_customers.csv. The client wants to know which customers are most likely to churn given this data (they don't have the label yet).

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Churn').getOrCreate()

In [5]:
df = spark.read.csv('/FileStore/tables/customer_churn.csv',header=True,inferSchema=True)

In [6]:
df.limit(10).toPandas()

,Names,Age,Total_Purchase,Account_Manager,Years,Num_Sites,Onboard_date,Location,Company,Churn,today_date,diff_in_months
0,Cameron Williams,42.0,11066.80,0,7.22,8.0,2013-08-30 07:00:40,"10265 Elizabeth Mission Barkerburgh, AK 89518",Harvey LLC,1,2020-07-09 17:31:24.357,82.336710
1,Kevin Mueller,41.0,11916.22,0,6.50,11.0,2013-08-13 00:38:46,"6157 Frank Gardens Suite 019 Carloshaven, RI 1...",Wilson PLC,1,2020-07-09 17:31:24.357,82.893652
2,Eric Lozano,38.0,12884.75,0,6.67,12.0,2016-06-29 06:20:07,"1331 Keith Court Alyssahaven, DE 90114","Miller, Johnson and Wallace",1,2020-07-09 17:31:24.357,48.369876
3,Phillip White,42.0,8010.76,0,6.71,10.0,2014-04-22 12:43:12,"13120 Daniel Mount Angelabury, WY 30645-4695",Smith Inc,1,2020-07-09 17:31:24.357,74.587101
4,Cynthia Norton,37.0,9191.58,0,5.56,9.0,2016-01-19 15:31:15,"765 Tricia Row Karenshire, MH 71730",Love-Jones,1,2020-07-09 17:31:24.357,53.680111
5,Jessica Williams,48.0,10356.02,0,5.12,8.0,2009-03-03 23:13:37,"6187 Olson Mountains East Vincentborough, PR 7...",Kelly-Warren,1,2020-07-09 17:31:24.357,136.185882
6,Eric Butler,44.0,11331.58,1,5.23,11.0,2016-12-05 03:35:43,"4846 Savannah Road West Justin, IA 87713-3460",Reynolds-Sheppard,1,2020-07-09 17:31:24.357,43.147753
7,Zachary Walsh,32.0,9885.12,1,6.92,9.0,2006-03-09 14:50:20,"25271 Roy Expressway Suite 147 Brownport, FM 5...",Singh-Cole,1,2020-07-09 17:31:24.357,172.000000
8,Ashlee Carr,43.0,14062.60,1,5.46,11.0,2011-09-29 05:47:23,"3725 Caroline Stravenue South Christineview, M...",Lopez PLC,1,2020-07-09 17:31:24.357,105.370610
9,Jennifer Lynch,40.0,8066.94,1,7.11,11.0,2006-03-28 15:42:45,"363 Sandra Lodge Suite 144 South Ann, WI 51655...",Reed-Martinez,1,2020-07-09 17:31:24.357,171.389531

In [7]:
df.show()

In [8]:
#El Account_Manager fue asignado aleatoriamente, por lo tanto esta variable no será considerada dentro del modelo ya que no aportará información relevante.
#A partir de la Onboard_date calcularemos la antigüedad del cliente en meses
from pyspark.sql.functions import months_between, col, current_timestamp

In [9]:
#Agrego columna con fecha actual
df = df.withColumn('today_date',  current_timestamp())

In [10]:
#Añado columna con antiguedad del cliente en meses
df = df.withColumn('diff_in_months', months_between(col('today_date'),col('Onboard_date')))

In [11]:
df.show()

In [12]:
#Guardaremos los nombres de las columna de interés